.cta-section-container {
    margin: 150px 0;
    border-radius: 20px;
    position: relative;
    padding: 130px 150px 0 150px;
    background: linear-gradient(180deg, #1A1A1A -138.96%, #0F0F0F 100%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0) 100%);
}

.background-cta-left {
    position: absolute;
    background-image: url("../images/background-cta-left.svg");
    width: 788px;
    height: 590px;
    top: 0;
    left: 0;
}

.background-cta-right {
    position: absolute;
    background-image: url("../images/background-cta-right.svg");
    width: 788px;
    height: 590px;
    top: 0;
    right: 0;
}

.cta-section-title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.cta-section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
    color: #808080;
    margin-bottom: 60px;
}

.cta-section-sub-lead {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}

.cta-section-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-top: 40px;
    position: relative;
    z-index: 10;
}

.btn-primary {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #1A1A1A;
    padding: 18px 24px;
    background-color: #fff;
    border-radius: 56px;
}

.btn-outline {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #fff;
    padding: 18px 24px;
    background-color: #1A1A1A;;
    border-radius: 56px;
}

.cta-section-brand {
    margin-top: 82px;
    text-align: center;

}

.cta-section-container:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 234px;
    background: #0F0F0F33;
    background-blend-mode: overlay;
    backdrop-filter: blur(20px)
}

.btn-primary:hover {
    background-color: #808080;
    transition: all 0.3s ease;
}
.btn-outline:hover {
    background: rgba(255,255,255,0.3);
    transition: all 0.3s ease;
}










