.faq {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
}

.faq-header {
    text-align: center;
    margin-bottom: 50px;
}

.faq-header h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
}

.faq-header h2 span {
    color: #666666;
}

.faq-header p {
    color: #808080;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    background-color: #1a1a1a;
    border: 1px solid #555;
    border-radius: 50px;
    padding: 14px 24px;
    width: 434px;
}

.search-box input {
    padding: 4px;
    width: 434px;
    background: #1A1A1A;
    border: none;
    line-height: 1;
    letter-spacing: 0;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
}

.questions-box {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.box-left {
    max-width: 773px;
}

.faq-text {
    border-bottom: 1px solid #262626;

}

.question {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    padding: 34px 112px 34px 0;
}

.list-question {
    position: relative;
    display: flex;
    align-items: center;

}
.icon-open {
    background-image: url("../icons/icon-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    padding: 22px;
    background-color: #1A1A1A;
}

.icon-open:hover,
.icon-close:hover {
    background-color: rgba(255,255,255,0.3);
    transition: all 0.3s ease;
}

.icon-close {
    display: none;
    background-image: url("../icons/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    gap: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    padding: 22px;
    background-color: #1A1A1A;
}

.answer {
    display: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #8C8C8C;
    max-width: 633px;
    padding-bottom: 34px;
}

#item:checked ~.faq-text .answer,
#item2:checked ~.faq-text .answer,
#item3:checked ~.faq-text .answer,
#item4:checked ~.faq-text .answer,
#item5:checked ~.faq-text .answer,
#item6:checked ~.faq-text .answer,
#item7:checked ~.faq-text .answer,
#item8:checked ~.faq-text-last .answer{
    display: block;
}

#item:checked ~.faq-text .list-question .icon-close,
#item2:checked ~.faq-text .list-question .icon-close,
#item3:checked ~.faq-text .list-question .icon-close,
#item4:checked ~.faq-text .list-question .icon-close,
#item5:checked ~.faq-text .list-question .icon-close,
#item6:checked ~.faq-text .list-question .icon-close,
#item7:checked ~.faq-text .list-question .icon-close,
#item8:checked ~.faq-text-last .list-question .icon-close{
    display: block;
}

#item:checked ~.faq-text .list-question .icon-open,
#item2:checked ~.faq-text .list-question .icon-open,
#item3:checked ~.faq-text .list-question .icon-open,
#item4:checked ~.faq-text .list-question .icon-open,
#item5:checked ~.faq-text .list-question .icon-open,
#item6:checked ~.faq-text .list-question .icon-open,
#item7:checked ~.faq-text .list-question .icon-open,
#item8:checked ~.faq-text-last .list-question .icon-open{
    display: none;
}


































