.faq {
    margin: 150px;
    display: flex;
    flex-direction: column;
}

.faq-header {
    text-align: center;
    margin-bottom: 50px;
}

.faq-header h2 {
    font-size: 48px;
    font-weight: 600;
}

.faq-header h2 span {
    color: #666666;
}

.faq-header p {
    color: #808080;
    font-size: 18px;
    margin: 20px 250px
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    background-color: #1a1a1a;
    border: 1px solid #555;
    border-radius: 50px;
    padding: 14px 24px;
    width: 434px;
}

.search-box input {
    padding: 4px;
    width: 434px;
    background: #1A1A1A;
    border: none;
    line-height: 1;
    letter-spacing: 0;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
}



