.features {
    margin-top: 150px;
}

.features-header {
    text-align: center;
    margin-bottom: 100px;
}

.features-header h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
}

.features-header h2 span {
    color: #666666;
}

.features-header p {
    color: #808080;
    font-size: 18px;
    margin: 20px 220px;
    line-height: 1.5;
}

.features-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.features-card-top,
.features-card-bottom {
    position: relative;
    display: flex;
    gap: 80px;
}

.features-card {
    text-align: center;
    position: relative;
    width: calc((100% - 80px) /3 );
    display: flex;
    gap: 40px;
    height: auto;
    flex-direction: column;
    align-items: center;
}
/*Line*/
.features-card-top:after {
    content: "";
    position: absolute;
    bottom: -50px;
    height: 1px;
    width: 100%;
    background-color: #1f1f1f
}

.features-card-top .features-card:nth-child(1)::after,
.features-card-bottom .features-card:nth-child(1)::after{
    content: "";
    position: absolute;
    right: -40px;
    height: 100%;
    width: 1px;
    background-color: #1f1f1f
}

.features-card-top .features-card:nth-child(2)::after,
.features-card-bottom .features-card:nth-child(2)::after{
    content: "";
    position: absolute;
    right: -40px;
    height: 100%;
    width: 1px;
    background-color: #1f1f1f
}

.features-card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

.features-card p {
   font-size: 18px;
    color: #8c8c8c;
    font-weight: 400;
    line-height: 1.5;
}

.features-button {
    margin-top: auto;
}

.features-button a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 18px 18px 34px;
    background-color: #0f0f0f;
    border-radius: 100px;
    border: 1px solid #1f1f1f;
}

.features-button a:hover {
    color: black;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}

.features-button a img {
    padding: 18px 26px;
    margin-left: 30px;
    background-color: #1a1a1a;
    border-radius: 135px;
    background-size: contain;
}





