.features {
    margin: 150px;
}

.features-header {
    text-align: center;
    margin-bottom: 100px;
}

.features-header h2 {
    font-size: 48px;
    font-weight: 600;
}

.features-header h2 span {
    color: #666666;
}

.features-header p {
    color: #808080;
    font-size: 18px;
    margin: 20px 220px;
}



.features-box {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}


.features-card {
    text-align: center;
    position: relative;
    width: 465px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.features-card:not(:nth-child(3n))::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #1f1f1f;
}

.features-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0 20px 0;
}

.features-card p {
   font-size: 18px;
    color: #8c8c8c;
    font-weight: 400;
}

.features-button a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.features-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 18px 18px 18px 34px;
    background-color: #0f0f0f;
    border-radius: 100px;
    border: 1px solid #1f1f1f;
}

.features-button a img {
    padding: 18px 26px;
    margin-left: 30px;
    background-color: #1a1a1a;
    border-radius: 135px;
}





