.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(31, 31, 31, 1);

}

.footer-social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-social-list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-social-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6%;

}

.footer-social-list li {
    list-style: none;
}

.footer-social-list > li:first-child,
.footer-social-list li:nth-child(2) a,
.footer-social-list > li:last-child {
    width: 64px;
    height:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
    background-image:
            linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%),
            linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.footer-social-list li:nth-child(2) a img {
    background: #fff;
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 6px;
}

.footer-social-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6%;
}

.footer__divider {
    border: 1px solid;
    color: rgba(31, 31, 31, 1);
}

/*footer-main*/
.footer-main {
    margin: 80px 0;
    display: flex;
    gap: 60px;
}
.footer-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-list li {
    list-style: none;

}

.footer-list li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: rgba(128, 128, 128, 1);
}

.footer-list li:hover {
    text-decoration: underline;
}

/*footer-bottom*/

.footer-copyright {
    color: rgba(102, 102, 102, 1);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6%;
}

.footer-version{
    color: rgba(102, 102, 102, 1);

    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6%;
}

.footer-bottom {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(31, 31, 31, 1);
}

.footer-legal-list {
    display: flex;
    gap: 20px;
}

.footer-legal-list li {
    list-style: none;

}

.footer-legal-list li a {
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6%;
}

.footer-legal-list li:hover {
    text-decoration: underline;
}