.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    background-image: url("../images/linear-gradient.svg");
    padding-left: 162px;
    padding-top: 250px;
    max-width: 798px;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    margin-bottom: 60px;
}

.hero-content h1 {
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: 0;
}

.hero-content h1 span {
    color: #666666;
}

.hero-content p {
    font-size: 18px;
    font-weight: 400;
    color: #808080;
    line-height: 1.5;
}

.hero-bottom h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.5;
    letter-spacing: 0;
}

.hero-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-buttons a:first-child {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 24px;
    background-color: white;
    border-radius: 56px;
    line-height: 1.5;
}

.hero-buttons a:last-child {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 24px;
    background-color: #1a1a1a;
    border-radius: 56px;
    border: 1px solid #262626;
    line-height: 1.5;
}

.hero-buttons a:first-child:hover {
    background-color: #808080;
    transition: all 0.3s ease;
}
.hero-buttons a:last-child:hover {
    background: rgba(255,255,255,0.3);
    transition: all 0.3s ease;
}

.hero-right {
    position: relative;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.hero-right:before {
    content: "";
    position: absolute;
    background: rgba(15, 15, 15, 0.2);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 472px;
    left: 0;
    bottom: 0;
}

.hero-images {
    background-image: url("../images/logo-dx.svg");
    width: 603px;
    height: 570px;
    background-repeat: no-repeat;
    background-size: contain;
}













