.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    background-image: url("../images/linear-gradient.svg");
    padding-left: 162px;
    padding-top: 250px;
    max-width: 798px;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    margin-bottom: 60px;
}

.hero-content h1 {
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #666666;
}

.hero-content p {
    color: #808080;
}

.hero-bottom h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}


.hero-buttons a:first-child {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 24px;
    background-color: white;
    border-radius: 56px;
    margin-right: 10px;
}

.hero-buttons a:last-child {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 24px;
    background-color: #1a1a1a;
    border-radius: 56px;
    border: 1px solid #262626;
}

.hero-right {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
}
/*.hero-layout {*/
/*    position: absolute;*/
/*    !*background: gray;*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: flex-start;*/
/*    width: 100%;*/
/*    height: 472px;*/
/*    left:0;*/
/*    bottom: 0;*/
/*    padding: 0;*/

/*}*/


/*.layout1,*/
/*.layout2,*/
/*.layout3,*/
/*.layout4,*/
/*.layout5,*/
/*.layout6,*/
/*.layout7,*/
/*.layout8,*/
/*.layout9,*/
/*.layout10,*/
/*.layout11,*/
/*.layout12,*/
/*.layout13,*/
/*.layout14,*/
/*.layout15*/
/*{*/
/*    position: absolute;*/
/*    background: rgba(15, 15, 15, 0.2);*/
/*    background-blend-mode: overlay;*/
/*    backdrop-filter: blur(90px);*/
/*    width: 79px;*/
/*    height: 472px;*/
/*    left: 0;*/
/*}*/

/*.layout2 {*/
/*    left: 70px;*/
/*}*/
/*.layout3 {*/
/*    left: 120px;*/
/*}*/
/*.layout4 {*/
/*    left: 170px;*/
/*}*/
/*.layout5 {*/
/*    left: 220px;*/
/*}*/
/*.layout6 {*/
/*    left: 270px;*/
/*}*/
/*.layout7 {*/
/*     left: 320px;*/
/* }*/
/*.layout8 {*/
/*    left: 370px;*/
/*}*/
/*.layout9 {*/
/*    left: 420px;*/
/*}*/
/*.layout10 {*/
/*    left: 470px;*/
/*}*/
/*.layout11 {*/
/*    left: 520px;*/
/*}*/
/*.layout12 {*/
/*    left: 570px;*/
/*}*/
/*.layout13 {*/
/*     left: 620px;*/
/*}*/
/*.layout14 {*/
/*     left: 670px;*/
/*}*/
/*.layout15 {*/
/*     left: 720px;*/
/* }*/





.hero-images {
    background-image: url("../images/logo-dx.svg");
    width: 603px;
    height: 570px;
    background-repeat: no-repeat;
    background-size: contain;
}













