
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 80px;
        margin: auto;
    }

    .nav-bar {
        padding: 52px 16px 26px 16px;
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .nav-logo img {
        width: 39px;
        height: 28px;
    }

   .logo-menu-bar{
        background-image: url("../logo/logo-header.svg");
        background-size: 30px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px;
        border-radius: 6px;
    }

    .close-menu {
        display: block;
        background-image:url("../icons/icon-open.svg");
        background-position: center;
        width: 22px;
        height: 22px;
        padding: 24px;
        border-radius: 100px;
        border: 1px solid rgba(31, 31, 31, 1);
        background-repeat: no-repeat;
        transform: rotate(45deg);
        background-color: #1A1A1A;
    }

    .icon-menu {
        background-image:url("../icons/icon-menu-bar.svg");
        background-position: center;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        padding: 24px;
        border-radius: 100px;
        border: 1px solid rgba(31, 31, 31, 1);
        background-color: #1A1A1A;

    }

    .menu-overlay {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10000;
    }

    .mobile-menu-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 52px 16px 26px 16px;
        border-bottom: 1px solid rgba(31, 31, 31, 1);
    }

    .mobile-menu {
        display: none;
        position: fixed;
        right: 0;
        width: 100%;
        max-width: 320px;
        height: 100%;
        background-color: #0f0f0f;
        z-index: 100000;
    }

    .mobile-menu-bottom ul li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;

    }

    .mobile-menu-bottom ul {
        margin-top: 30px;

    }

    .mobile-menu-bottom ul li {
        list-style: none;
        text-align: center;
        margin-bottom: 23px;
        padding: 14px;
    }

    .mobile-menu-bottom ul li:hover {
        background-color: #1a1a1a;
    }

    #menu-toggle:checked ~.mobile-menu {
        display: block;
    }

    #menu-toggle:checked ~.menu-overlay {
        display: block;
    }

    /*Header*/

    .hero {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 80px;
        align-items: center;
        height: auto;
        gap: 20px;
    }

    .hero-right {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        margin-top: 136px;
    }

    .hero-images {
        height: 252px;
        background-position: center;
        object-fit: cover;
        display: block;
    }

    .hero-left {
        padding: 50px 16px 80px 16px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .hero-content h1 {
        font-size: 34px;
        line-height: 1.3;
        letter-spacing: 0;
    }

    .hero-content p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .hero-buttons h2 {
        font-size: 14px;
    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .hero-buttons a:first-child,
    .hero-buttons a:last-child {
        font-size: 14px;
        padding: 14px 20px;
        margin-right: 0;
        width: auto;
    }

    .hero-right::before {
        height: 141px;
    }

/*    Features */
    .features-header {
        margin-bottom: 50px;
    }

    .features-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .features-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .features-card-top:after {
        display: none;
    }

    .features-box {
        padding: 0;
    }

    .features-card-top,
    .features-card-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 80px;
        position: relative;
    }
    .features-card-bottom {
        margin-bottom: 80px;
    }

    .features-card {
        display: flex;
        flex-direction: column;

        position: relative;
        width: 100%;
        gap: 0;
    }

    .features-icon img {
        width: 56px;
        height: 100%;
    }

    .features-card h3 {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .features-card p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .features-card-top .features-card:nth-child(1)::after,
    .features-card-top .features-card:nth-child(2)::after,
    .features-card-bottom .features-card:nth-child(1)::after,
    .features-card-bottom .features-card:nth-child(2)::after{
        left: 0;
        bottom: -40px;
        height: 1px;
        width: 100%;
    }

    .features-card::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 100%;
        height: 1px;
        background-color: #1f1f1f;
    }

    .features-card-bottom .features-card:last-child::after {
        display: none;
    }

    .features-button a {
        white-space: nowrap;
        font-size: 14px;
        line-height: 150%;
        padding: 7px 7px 7px 14px;
    }

    .features-button a img {
        margin-left: 20px;
        padding: 8px 14px;
    }

/*    Services*/
    .services-header {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .services-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .services-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .services-card {
        width: 100%;
    }

    .services-icon {
        padding: 0;
        box-sizing: content-box;
        background-size: cover;
    }

    .services-icon img {
        width: 114px;
        height: auto;
        margin-top: 50px;

    }

    .services-text h3 {
        margin-top: 24px;
        font-size: 20px;
    }

    .services-text p {
        padding: 0 20px;
        font-size: 14px;
    }
    .services-button {
        padding: 20px 0;
    }

    .services-button a {
        font-size: 14px;
    }

/*Our Works*/
    .works {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .works-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .works-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .works-card {
        width: 100%;
        padding: 24px
    }

    .works-background {
        width: 100%;
        height: 200px;
    }

    .works-icon img {
        width: 100px;
        height: auto;
    }

    .works-button {
        width: 218px;
        padding: 15px 20px;
        font-size: 14px;
    }

    .works-button img,
    .works-button-box img{
        width: 13px;
        height: 12px;
    }

    .works-text {
        margin-top: 44px;
    }

    .works-title {
        font-size: 18px;
        line-height: 1.5;
    }

    .works-text-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 16px;
    }

    .info-category,
    .info-time {
        font-size: 14px;
    }

    .works-text p {
        font-size: 14px;
    }

    .works-button-box {
        padding: 15px 20px;
        font-size: 14px;
    }

/*Our testimonials*/
    .testimonials-header {
        margin: 80px 0 50px 0;
    }

    .testimonials-header h2 {

        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .testimonials-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .test-wrapper:before,
    .test-wrapper:after{
        width: 71px;
        height: 100%;
    }


    .test-card {
        height: 450px;
    }

    .test-card-top {
        width: 354px;
        height: 254px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
        margin-bottom: 35px;
    }

    .test-card-top p {
        font-size: 14px;
    }

    .logo-twitter {
        width: 44px;
    }

    .logo-twitter img {
        width: 24px;
        height: 24px;
        padding: 10px;
    }

    .triangle {
        left: 0;
        right: 0;
    }

    .test-card-bottom {
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .test-info {
        text-align: center;

    }

    .test-info h3 {
        font-size: 18px;
    }
    .test-info span {
        font-size: 14px;
    }
    .avatar img{
        width: 60px;
        height: 60px;
    }

/*FAQ*/
    .faq {
        margin: 80px 0;
    }

    .faq-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .faq-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .search-box {
        width: 100%;
    }

    .questions-box {
        margin-top: 50px;
        gap: 0;
        flex-direction: column;
    }
    .question {
        padding: 15px 50px 15px 0;
        font-size: 16px;
    }
    .answer p {
        font-size: 14px;
    }

    .faq-container {
        padding: 0;
    }

    /* Our Partner*/

    .partner-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .partner-box {
        margin-top: 60px;
        gap: 20px;
    }

    .partner-header p {
        margin: 10px 0;
        font-size: 14px;
    }
    .partner-card {
        width: 100%;
        padding: 50px 40px 24px 40px;
    }

    .icon-card img:first-child,
    .icon-card img:last-child{
        width: 110px;
   }
    .icon-card img:nth-child(2) {
        width: 30px;
    }

    .text-card {
        margin-top: 24px;
    }

    .text-card h3 {
        font-size: 18px;
    }
    .text-card p {
        font-size: 14px;
    }

/*   CTA */

    .background-cta-right,
    .background-cta-left {
        width: 278px;
        height: 208px;
        background-size: cover;
    }

    .cta-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 24px 0 24px;
    }

    .cta-section-title {
        font-size: 24px;
    }

    .cta-section-description {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .cta-section-sub-lead {
        font-size: 14px;
    }

    .cta-section-actions {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .btn-primary,
    .btn-outline{
        font-size: 14px;
        padding: 14px 20px;
    }

    .cta-section-brand {
        margin-top: 43px;
    }

    .cta-section-brand img {
        width: 298px;
        height: 100%;
        object-fit: cover;
        display: block;

    }

    .cta-section-container:before {
        height: 85px;
    }

/*Footer*/
    .footer__logo img {
        width: 62px;
    }

    .footer-social-wrapper {
        gap: 10px;
        flex-direction: column;
    }

    .footer-social-text {
        font-size: 14px;
    }

    .footer-social-list li:first-child,
    .footer-social-list li:nth-child(2) a,
    .footer-social-list li:last-child{
        width: 50px;
        height: 50px;
    }

    .footer-top {
        padding-bottom: 20px;
    }

    .footer-main {
        width: 100%;
        flex-wrap: wrap;
        gap: 40px;
        margin: 24px 0;
        justify-content: space-between;
    }

    .footer-title {
        font-size: 16px;
    }

    .footer-list li a {
        font-size: 14px;
    }

    .footer-col {
        width: calc((100% - 40px) / 2);
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .footer-title {
        margin-bottom: 15px;
    }


    .footer-legal-list {
        justify-content: space-between;
    }

    .footer-copyright,
    .footer-version,
    .footer-legal-list li a {
        font-size: 14px;
    }


    @media (max-width: 575px) {
        .container {
            padding: 0 16px;
        }
    }
}