@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin: auto;
    }


    .nav-bar {
        padding: 52px 16px 26px 16px;
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .nav-logo img {
        width: 39px;
        height: 28px;
    }

    /*Header*/

    .hero {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 80px;
        align-items: center;
        height: auto;
        gap: 20px;
    }


    .hero-right {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        margin-top: 136px;
    }

    .hero-images {
        height: 252px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    .hero-left {
        padding: 50px 16px 80px 16px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0;
    }


    .hero-content h1 {
        font-size: 34px;
        line-height: 1.3;
        letter-spacing: 0;
    }

    .hero-content p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .hero-buttons h2 {
        font-size: 14px;
    }


    .hero-buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }


    .hero-buttons a:first-child,
    .hero-buttons a:last-child {
        font-size: 14px;
        padding: 14px 20px;
        margin-right: 0;
        width: auto;
    }

/*    Features */
    .features-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .features-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .features-card-top:after {
        display: none;
    }

    .features-card-top,
    .features-card-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 80px;
        position: relative;
    }
    .features-card-bottom {
        margin-bottom: 80px;
    }

    .features-card {
        display: flex;
        flex-direction: column;

        position: relative;
        width: 100%;
        gap: 0;
    }

    .features-icon img {
        width: 56px;
        height: 100%;
    }

    .features-card h3 {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .features-card p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .features-card-top .features-card:nth-child(1)::after,
    .features-card-top .features-card:nth-child(2)::after,
    .features-card-bottom .features-card:nth-child(1)::after,
    .features-card-bottom .features-card:nth-child(2)::after{
        left: 0;
        bottom: -40px;
        height: 1px;
        width: 100%;
    }
    .features-card::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 100%;
        height: 1px;
        background-color: #1f1f1f;
    }

    .features-card-bottom .features-card:last-child::after {
        display: none;
    }
    .features-button a {
        white-space: nowrap;
        font-size: 14px;
        line-height: 150%;
        padding: 7px 7px 7px 14px;
    }

    .features-button a img {
        margin-left: 20px;
        padding: 8px 14px;
    }

/*    Services*/
    .services-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .services-header p {
        margin: 10px 0;
        font-size: 14px;
    }

    .services-card {
        width: 100%;
    }

    .services-icon {
        padding: 0;
        box-sizing: content-box;
        background-size: cover;
    }

    .services-icon img {
        width: 114px;
        height: auto;
        margin-top: 50px;

    }

    .services-text h3 {
        margin-top: 24px;
        font-size: 20px;
    }

    .services-text p {
        padding: 0 24px;
        font-size: 14px;
    }
    .services-button {
        padding: 24px 0;
    }

/*Our Works*/
    .works-header h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.5;
    }

    .works-header p {
        margin: 10px 0;
        font-size: 14px;
    }


























}