.hero {
    display: flex;
    height: 922px;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 162px;
    border-bottom: 1px solid #1f1f1f;
    z-index: 1000;
    background: #0F0F0F33;
    backdrop-filter: blur(12px)


}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 16px 25px;
}

.nav-links li a:hover {
    background-color: #1a1a1a;
    border: 1px solid #1f1f1f;
    border-radius: 84px;
    padding: 16px 24px;

}






