.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services-card {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 2);
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(12px);
    border: 1px solid transparent;
    background:
            linear-gradient(#0f0f0f, #0f0f0f) padding-box,
            linear-gradient(180deg, #292929 0%, rgba(41, 41, 41, 0) 100%) border-box;
}

.services-icon {
    padding-top: 120px;
    background-image: url("../images/service-radial.svg");


}


.services {
    margin-top: 150px;
}

.services-header {
    text-align: center;
    margin-bottom: 100px;
}

.services-header h2 {
    font-size: 48px;
    font-weight: 600;
}

.services-header h2 span {
    color: #666666;
}

.services-header p {
    color: #808080;
    font-size: 18px;
    margin: 20px 250px
}


.services-card h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 50px 0 20px 0;
}

.services-card p {
    font-size: 18px;
    color: #8c8c8c;
    font-weight: 400;
    padding: 0 80px;
}

.services-card a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.services-button {
    display: flex;
    justify-content: center;

    padding: 50px 0 80px 0;
    margin-top: auto;
}

.services-button a {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    border-radius: 74px;
}

.services-button a img {
    margin-left: 12px;
}



