* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
html {
    width: 100%;
}

body{
    background-color: #0f0f0f;
    color: white;
    width: 100%;
}

.container {
    max-width: 1598px;
    margin: auto;
}