@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 896px;
        margin: auto;
    }
/*Nav*/
    .nav-bar {
        padding: 14px 56px;
    }

    .nav-logo {
        width: 40px;
        height: 28px;
    }


    .nav-logo img {
        width: 40px;
        height: 28px;
    }

    .nav-links li a {
        color: #fff;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
    }

    .nav-links li a:hover {
        padding: 10px 14px;
    }
/*Header*/

    .hero {
        max-height: 620px;
    }

    .hero-left {
        background-size: cover;
        padding-left: 56px;
        max-width: 505px;
        max-height: 520px;
        padding-top: 175px;
        padding-right: 28px;
    }

    .hero-content {
        margin-bottom: 42px;
    }

    .hero-right {
        margin-top: 120px;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 1.3;
        margin-bottom: 16px;
    }

    .hero-content p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;

    }

    .hero-bottom h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;

    }

    .hero-bottom h2 {
        margin-bottom: 20px;
    }

    .hero-buttons a:first-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        padding: 14px 20px;
    }
    .hero-buttons a:last-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        padding: 14px 20px;
    }

    .hero-images {
        background-size: cover;
        width: 334px;
        height: 315px;

    }
/*    Features*/
    .features {
        margin-top: 120px;
    }

    .features-card {
        max-width: 261px;
        gap: 28px;
    }


    .features-header h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0;
    }

    .features-header > p {
        font-size: 14px;
        margin: 20px 120px;
    }

    .features-card-top,
    .features-box,
    .features-card-bottom {
        gap: 56px;
    }

    .features-card-top:after {
        bottom: -28px;
    }

    .features-card-top .features-card:nth-child(1)::after,
    .features-card-bottom .features-card:nth-child(1)::after,
    .features-card-top .features-card:nth-child(2)::after,
    .features-card-bottom .features-card:nth-child(2)::after{
        right: -28px;
    }


    .features-icon img {
        width: 66px;
    }

    .features-card h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        text-align: center;
    }

    .features-card p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
    }

    .features-button a {
        white-space: nowrap;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0;
        padding: 7px 7px 7px 14px;
    }

    .features-button a img {
        margin-left: 20px;
        padding: 8px 14px;
    }

/*Our Services*/
    .services {
        margin-top: 84px;
    }

    .services-header h2 {
        font-size: 32px;
    }

    .services-header p {
        font-size: 14px;
        margin: 20px 105px;
        padding: 0;
    }

    .services-box {
        gap: 14px;
    }

    .services-icon {
        padding-top: 60px;
        background-image: url("../images/service-radial.svg");
        background-size: cover;
    }


    .services-card {
        max-width: 441px;
        display: flex;
        flex-direction: column;
    }

    .services-icon img {
        width: 100px;
        height: 100px;
    }

    .services-card h3 {
        font-size: 16px;
        margin: 28px 0 20px 0;
    }

    .services-button {
        justify-items: end;
        display: flex;
        align-items: center;
        margin-top: auto;
        padding: 28px 0 42px 0;
    }

    .services-card p {
        font-size: 14px;
        color: #8c8c8c;
        font-weight: 400;
        padding: 0 40px;
    }

    .services-button a {
        padding: 15px 20px;
        font-size: 12px;
    }

    .services-button .button img {
        width: 13px;
        height: 11px;
    }

/*Out work*/

    .works {
        margin-top: 84px;
        margin-bottom: 42px;
    }

    .works-header {
        margin-bottom: 0;
    }

    .works-header h2 {
        font-size: 32px;
    }

    .works-header p {
        font-size: 14px;
        margin: 20px 0;
        padding: 0;
    }

    .works-box {
        gap: 28px;
    }

    .works-card {
        max-width: 434px;
        padding: 28px;
    }

    .works-background {
        width: 378px;
        height: 223px;
        background-size: cover;
    }

    .works-icon img {
        width: 87px;
        height: 87px;
    }

    .works-button {
        padding: 10px 14px;
        font-size: 12px;
        bottom: -18px;
    }

    .works-button-box {
        padding: 10px 14px;
        font-size: 12px;
    }

    .works-button img {
        width: 13px;
        height: 11px;
    }

    .works-text {
        margin-top:32px;
    }

    .works-title {
        font-size: 16px;
    }

    .works-text-info {
        margin-top: 14px;
    }

    .info-category,
    .info-time,
    .works-text p {
        font-size: 14px;
    }

/*Our Testimonials*/

    .testimonials-header {
        margin-top: 84px;
        margin-bottom: 60px;
    }

    .testimonials-header {

    }

    .testimonials-header h2 {
        font-size: 32px;
    }

    .testimonials-header p {
        font-size: 14px;
        margin: 20px 0;
        padding: 0;
    }

    .testimonials:before {
        width: 370px;
        height: 298px;
    }
    .test-box:before {
        width: 370px;
        height: 298px;
    }

    .test-box {
        gap: 14px;
    }

    .test-card-top {
        width: 370px;
        height: 208px;
        padding: 21px;
    }

    .test-card-top > p {
        font-size: 14px;
    }

    .logo-twitter img {
        width: 16px;
        height: 16px;
        padding: 10px;
        box-sizing: content-box;
    }

    .logo-twitter {
        width: 36px;
    }

    .test-card-top {
        margin-bottom: 30px;
    }

    .test-card-top > p {
        margin-top: 16px;
    }

    .triangle {
        left: 14px;
        bottom: -24px;
    }

    .triangle img {
        width: 32px;
        height: 19px;
    }


    .avatar img {
        margin-left: 5px;
        width: 50px;
        height: 50px;
    }

    .test-info {
        height: 48px;
    }

    .test-info h3 {
        font-size: 16px;
    }

    .test-info span {
        font-size: 14px;
    }

/*FAQ*/

    .faq {
        margin-top: 84px;
    }

    .faq-header {
        margin-bottom: 30px;
    }

    .faq-header h2 {
        font-size: 32px;
    }

    .faq-header p {
        font-size: 14px;
        margin: 20px 105px;
        padding: 0;
    }

    .search-box {
        width: 358px;
        padding: 10px 20px;
    }

    .search-box input {
        width: 358px;
        font-size: 14px;
    }

    .questions-box {
        gap: 24px;
    }

    .question {
        font-size: 16px;
        padding: 24px 78px 24px 0;
    }

    .answer {
        font-size: 14px;
        padding-bottom: 24px;
    }

    .icon-open,
    .icon-close {
        background-size: 14px;
        padding: 18px;
    }
/* Partner*/
    .partner {
        margin-top: 84px;
    }

    .partner-header {
        margin-bottom: 30px;
    }

    .partner-header h2 {
        font-size: 32px;
    }

    .partner-header p {
        font-size: 14px;
        margin: 20px 105px;
        padding: 0;
    }

    .partner-box {
        gap: 14px;
    }

    .partner-card {
        background-size: contain;
        width: 289px;
        padding: 56px 28px 42px 28px;
    }

    .icon-card img:first-child,
    .icon-card img:last-child {
        width: 77px;
        height: 77px;
    }

    .icon-card img:nth-child(2) {
        width: 13px;
        height: 13px;
        box-sizing: content-box;
    }

    .text-card {
        margin-top: 35px;
    }

    .text-card h3{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .text-card p {
        font-size: 14px;
    }
/*cta*/
    .cta-section-container {
        padding: 70px;
    }

    .cta-section-title {
        font-size: 32px;
    }

    .background-cta-left {
        display: none;
        width: 552px;
        height: 413px;
        background-size: contain;
    }

    .background-cta-right {
        width: 552px;
        height: 413px;
        background-size: contain;
    }

    .cta-section-description {
        font-size: 14px;
        margin-bottom: 35px;
    }

    .cta-section-sub-lead{
        font-size: 14px;
    }

    .cta-section-actions {
        margin-top: 20px;
    }

    .btn-primary {
        font-size: 14px;
        padding: 10px 14px;
    }

    .btn-outline {
        font-size: 14px;
        padding: 10px 14px;
    }

    .cta-section-brand {
        margin-top: 30px;
    }

    .cta-section-brand img {
        width: 406px;
        height: auto;
    }

    .cta-section-container:before {
        height: 172px;
    }

/*Footer*/

    .footer-social-list > li:first-child,
    .footer-social-list > li:last-child,
    .footer-social-list li:nth-child(2) a{
        width: 55px;
        height: 55px;
    }

    .footer__logo img {
        width: 52px;
        height: 38px;
    }

    .footer-social-text {
        font-size: 16px;
    }

    .footer-main {
        margin: 42px 0;
        gap: 20px;
    }

    .footer-title {
        font-size: 16px;
    }

    .footer-list li a {
        font-size: 14px;

    }

    .footer-legal-list {
        gap: 14px;
    }

    .footer-copyright,
    .footer-version,
    .footer-legal-list li a{
        font-size: 14px;
    }
















































}