.testimonials {
    position: relative;
    width: 100%;
    z-index: 5;
}

.testimonials-header {
    margin: 150px;
}

.testimonials-header {
    text-align: center;
}

.testimonials-header h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
}

.testimonials-header h2 span {
    color: #666666;
}

.testimonials-header p {
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.5;
}

.test-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: hidden;
}

.test-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.test-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    width: max-content;
    animation: scroll 40s linear infinite;
}


.test-box:hover {
    animation-play-state: paused;
}


.test-card {
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.test-wrapper:before {
    content: '';
    position: absolute;
    width: 403px;
    height: 100%;
    background: linear-gradient(90deg, #0F0F0F 0%, rgba(15, 15, 15, 0) 100%);
    left: 0;
    z-index: 10;
}

.test-wrapper:after {
    content: '';
    position: absolute;
    width: 439px;
    height: 100%;
    top: 0;
    background: linear-gradient(90deg, rgba(15, 15, 15, 0) 0%, #0F0F0F 100%);
    right: 0;
    z-index: 10;
}

.test-box::-webkit-scrollbar {
    height: 8px;
}

.test-box::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.test-box::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.test-box::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);

}

.test-card-top {
    position: relative;
    padding: 40px;
    background: linear-gradient(180deg, #1A1A1A -29.71%, rgba(26, 26, 26, 0) 75.89%);
    border: 1px solid rgba(38, 38, 38, 1);
    border-radius: 20px;
    width: 510px;
    height: 303px;
    margin-bottom: 44px;
}

.logo-twitter img {
    width: 30px;
    height: 30px;
    padding: 14px;
    box-sizing: content-box;

}

.logo-twitter {
    display: flex;
    width: 58px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: rgba(26, 26, 26, 1);
    border: 1px solid rgba(38, 38, 38, 1)
}

.test-card-top > p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5;
    letter-spacing: 0;
}

.triangle {
    position: absolute;
    left: 12px;
    bottom: -25px;
}

.test-card-bottom {
    display: flex;
    gap: 14px
}

.test-info {
    margin: 6px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.test-info h3 {
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);

}

.test-info span {
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0;
    color: rgba(128, 128, 128, 1);
}

















